

/*
------------------------------------------------------------------------------------------------------------------------
[.main]
------------------------------------------------------------------------------------------------------------------------
*/

.main
{
    margin-bottom: 20px;
}

/*
------------------------------------------------------------------------------------------------------------------------
[.pagination]
------------------------------------------------------------------------------------------------------------------------
*/

.pagination
{
    margin: 0 0 20px;
    padding: 0;

    list-style: none;

    text-align: center;
}

.pagination a
{
    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

/*
------------------------------------------------------------------------------------------------------------------------
[.loading]
------------------------------------------------------------------------------------------------------------------------
*/

.loading
{
    position: fixed;
    z-index: 9999;
    bottom: 86px;
    left: 0;

    width: 100%;

    text-align: center;
}

/*
------------------------------------------------------------------------------------------------------------------------
[#infscr-loading]
------------------------------------------------------------------------------------------------------------------------
*/

#infscr-loading
{
    display: inline-block;

    padding: 20px;

    opacity: .8;
    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #000;
}

#infscr-loading img
{
    margin-bottom: 9px;
}
.wrapper{
    margin:80px 20px;
}
.portofolio-items li{
    list-style-type: none;
    margin:10px;
}