@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import "modules/animate/animate";
@import "modules/transitions/transitions";

body{
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
}

*{
    margin:0;
    padding:0;
}

.wrapper{
    position: relative;
    .main-container{
        overflow: hidden;
        h5{
            font-weight: 100;
            font-size: 60px;
            color: #6D7B80;
        }
    }
}