@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import "modules/animate/animate";
@import "modules/transitions/transitions";
@import "modules/feather";

body{
	background-color:#F1EBE4;
	font-family: 'Bubblegum Sans', sans-serif;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

.wrapper{
    position: relative;
    max-width: 960px;
    margin: 0 auto 0;
    padding-top: 20px;

    .big-branding{
        width:420px;
        margin:0 auto 0;
        img{
            width: 400px;
        }
    }

    .intro{
        width: 700px;
        margin:0 auto 0;
        text-align: center;
        &.ng-hide-leave{
            animation: 0.5s bounceIn;
            -webkit-animation: 0.5s bounceIn;
            -moz-animation: 0.5s bounceIn;
            -o-animation: 0.5s bounceIn;
        }
        &.ng-hide-enter{
            animation: 0.5s bounceOut;
            -webkit-animation: 0.5s bounceOut;
            -moz-animation: 0.5s bounceOut;
            -o-animation: 0.5s bounceOut;
        }
    }

    .nav-wrapper{
        padding: 25px;
        .spudz-branding{
            position: relative;
            float: left;
            margin-top: -45px;
            img{
                width: 150px;
            }
        }
        nav{
            ul{
                list-style: none;
                li{
                    float:left;
                    margin-left:15px;
                    a{
                        padding: 5px;
                        color: #3BAD1D;
                        border-radius: 6px;
                        transition: 0.5s all;
                        font-weight: 500;
                        line-height: 16px;
                        -webkit-transition: 0.5s all;
                        -moz-transition: 0.5s all;
                        -o-transition: 0.5s all;
                        .label{
                            font-size: 11px;
                            background-color: #fff;
                            padding: 2px 5px 5px 5px;
                            border-radius: 50%;
                            margin-left: 5px;
                            vertical-align: top;
                        }
                        &:hover, &.active, &:focus{
                            background-color: #008200;
                            box-shadow: 0px 3px 30px -10px #123A12;
                            color: #fff;
                            .label{
                                color:#3BAD1D;
                            }
                        }
                    }
                }
            }
        }
        .profile{
            position: relative;
            float:right;
            a{
                padding: 5px;
                color: #3BAD1D;
                border-radius: 6px;
                transition: 0.5s all;
                font-weight: 500;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                &:hover, &.active, &:focus{
                    background-color: #008200;
                    box-shadow: 0px 3px 30px -10px #123A12;
                    color: #fff;
                }
                &.logout{
                    color:#D48447!important;
                    cursor: default;
                    &:hover{
                        background-color:transparent!important;
                        color: #008200!important;
                    }
                }
            }
        }
    }
    .main-container{
        overflow: hidden;
        width: 100%;
        h5{
            font-weight: 100;
            font-size: 60px;
            color: #6D7B80;
        }
        .profile-page{
            h5{
                font-size:20px;
            }
            .left-side{
                float:left;
                width:75%;
                background-color: #fff;
                margin-right: 20px;
            }
            .right-side{
                float:right;
                width:20%;
            }
        }
        .login-form, .register-form{
            width: 500px;
            margin: 0 auto 0;
            padding: 10px;
            text-align: center;
            .big-branding{
                img{
                    width: 200px;
                }
            }
            .form-wrap{
                position: relative;
                margin-top: -20px;
                .choice{
                    display: inline-block;
                    margin-bottom: 5px;
                    color: #ABA8A4;
                    text-shadow: 1px 1px 0px #FFFFFF;
                }
                .form-control{
                    clear:both;
                    margin: 10px;
                    input{
                        padding: 15px;
                        border: 1px solid #F1EBE4;
                        border-radius: 5px;
                        outline: 0;
                        font-size: 20px;
                        transition: 0.5s all;
                        width: 60%;
                        -webkit-transition: 0.5s all;
                        -moz-transition: 0.5s all;
                        -o-transition: 0.5s all;
                        &:hover{
                            border-color: #B9AEA2;
                        }
                        &:focus{
                            border-color: #298A14;
                            box-shadow: 0px 1px 8px -5px #000;
                        }
                    }
                    button{
                        width: 65%;
                        padding: 10px;
                        background: #33862E;
                        border: 0;
                        font-size: 20px;
                        color: #fff;
                        border-radius: 9px;
                        -webkit-transition: 0.5s all;
                        -moz-transition: 0.5s all;
                        -o-transition: 0.5s all;
                        &:hover{
                            background-color:#134C0F;
                        }
                    }
                    a{
                        font-size: 16px;
                        color: #BA6B41;
                    }
                }
            }
        }
    }
}

.vdelimiter{
    display: inline-block;
    width: 1px;
    background-color: #D2CCC5;
    border-right: 1px solid #FFF;
    height: 20px;
    vertical-align: middle;
}

.loader{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -108px;
    &.ng-enter{
        -webkit-animation: scaleUp 0.8s;
        -moz-animation: scaleUp 0.8s;
        -ms-animation: scaleUp 0.8s;
        animation: scaleUp 0.8s;
    }
    &.ng-leave{
        -webkit-animation: scaleDown 0.8s;
        -moz-animation: scaleDown 0.8s;
        -ms-animation: scaleDown 0.8s;
        animation: scaleDown 0.8s;
    }
    img{
        width: 300px;
    }
    .overlay{
        width:100%;
        height: 100%;
        position: fixed;
        top:0;
        left:0;
        background-color:#696969;
    }

}

div.hidden {
    display: none;
}

div.centered_container {
    height: 200px;
    
}

div.centered {
    text-align: center;
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Raleway', sans;
}

h5 {
    margin-bottom: 40px;
}

.message {
    margin-bottom: 20px;
    font-family: 'Raleway', sans;
    font-size: 18px;
    color: #454E51;
}

.btn {
  color: #ffffff;
  font-size: 20px;
  background: #008200;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #123A12;
  text-decoration: none;
}

.animate.ng-enter {
	-webkit-animation: bounceIn 0.4s;
	-moz-animation: bounceIn 0.4s;
	-ms-animation: bounceIn 0.4s;
	animation: bounceIn 0.4s;
}

.animate.ng-leave {
	opacity: 0;
}
